

<nav role="navigation" class="w-full">
    <ul class="flex justify-around m-8">
        <li class="font-bold border border-black hover:bg-black hover:text-yellow-300 transition-all">
            <a href="/" class="block w-full h-full p-4">
                Ma liste de tâche
            </a>
        </li>
        <li class="font-bold border border-black hover:bg-black hover:text-yellow-300 transition-all">
            <a href="/createForm" class="block w-full h-full p-4">
                Créer une tâche
            </a>
        </li>
    </ul>
</nav>
