{% extends 'layout.html' %}

{% block content %}

<div class="max-w-screen-md mx-auto p-5">
    <div class="text-center mb-16">
        <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-900">
            Create a  <span class="text-red-600">Task</span>
        </h3>
    </div>
    <form action="/createTask" method="post" class="w-full">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                    Name
                </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border  rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Article-name" name="title" required minlength="5">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-password">
                    Content
                </label>
                <textarea rows="10" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" name="description" required minlength="30">
      </textarea>
            </div>
            <div class="flex justify-between w-full px-3">
                <div class="md:flex md:items-center">
                    <label class="block text-gray-500 font-bold">
                    </label>
                </div>
                <button class="shadow bg-red-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded" type="submit">
                    Send Message
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock  %}


