<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo List</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-yellow-300 p-8 container mx-auto">
<header class="text-center">
    <h1 class="text-4xl text-gray-800">
        {{ APP_NAME }}
    </h1>
</header>

{% include './components/navigation.html' %}

<hr class="border-rose-500">

<div class="mt-8">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
