{% extends 'layout.html' %}

{% block content %}
    <div class="border border-rose-500 rounded-xl p-8 text-rose-500 text-2xl">
        <p>
            Encore une tâche de réalisée, ne va pas trop vite sinon tu vas t'ennuyer !
            <br>
            <br>
            Si tu as de l'avance, n'hésite pas à revoir les notions aborder tout au long
            de la formation, sinon approfondis certains points.
        </p>
    </div>
{% endblock %}
