{% extends 'layout.html' %}

{% block content %}
    <div class="bg-rose-500 rounded-xl p-8 text-white">
        <h2 class="text-2xl pb-2">{{ todo.name }}</h2>
        <hr class="border-white py-2">
        <p>
            {{ todo.content }}
        </p>
        <aside class="text-right font-mono">
            {{ todo.created }}
        </aside>
    </div>
    <div class="grid grid-cols-2 gap-8 my-8">
        <a href="/" class="h-12 border hover:text-white text-rose-500 border-rose-400 flex justify-center items-center text-center hover:bg-rose-500 transition-all rounded-lg">
            Revenir en arrière
        </a>
        {% if not todo.is_checked %}
            <a href="/checked?id={{ todo.id }}" class="h-12 border bg-rose-500 hover:shadow-lg shadow text-white border-rose-400 flex justify-center items-center text-center hover:bg-rose-500 transition-all rounded-lg">
                Fait !
            </a>
        {% endif %}
    </div>
{% endblock %}
